@import url(font.css); 

body {
    margin: 0 0;
    background: #C9A99C;
    font-family: "Font", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%; 
    display: block; 
}

main {
    max-width: 1000px;
    margin: auto; 
    padding: 20px;
}

header {
    background-color: #174655;
    text-decoration: none;
    color: #222;
}
header a {
    text-decoration: none;
    color: #ffffff;
}


header a:hover {
    color: #f00;
    text-decoration: underline;
}

header a.attivo {
    font-weight: bold;
}

header { 
    display: flex;/* Mettere al centro */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}




nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
 nav ul li{
 position: relative;
 float: left;
 text-align: center;
}
nav ul li:hover ul{ display: block;}

 nav ul li li{
  position: relative;
  float: none;
  width: 100%;
  border: none;
 }
 
 nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 1.2em;
    box-sizing: border-box;
 }

nav ul ul li a{
    font-size: 1rem;
    border-bottom: solid 2px #ffffff;
}
nav ul ul li:first-child a {
border-top:solid 2px #fff;
}

nav ul li:hover a{
    background: #1E4F5E;
    text-decoration: none;
    transition: 0.5s;
}

.grid {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    gap: 20px;
}
main div.card {
    background: #fff;
    border-radius: 10px;
}

main div.card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

main div img {
    border-radius: 10px;
}

main div.card h1 {
    text-align: center;
    margin: 0;
    padding: 20px 20px 4px 20px;
    font-size: 20px;
}

main div.card p {
    margin: 0;
    padding: 0 20px 20px 20px;
    font-size: 14px;
    line-height: 1.5; /* l'interlinea del testo */
}
 
div.search-box{
height: 30px;
top: 50%;
left: 50%;
display:inline;
border-radius: 25px;
}

input.search{
    height: 30px;
    max-width: 500px;
    border-radius: 25px;
    border: none;
    float: left;
    padding: 0px 15px 0px 15px;
}
 
div.ch{
    font-size: center;
    font-size: 50px;
    justify-content: center; 
 }
/* Camilo Huinca */
div.ch h1{ /* centrare testo*/
margin-top: 0;
padding: 10%;
text-align: center;
justify-content: center; 
background-image: url('../immagini/Camilo Hunica/caj.jpg');
background-size:cover ;
background-repeat: no-repeat;
background-position: center;
font-size: 1.4em;
color: #000000;
 }
 div.tes p{
   font-size: 20px;
  margin-left: 60px;
 }
 
div.Im{
   width: auto;
   display: grid;
grid-template-columns: 1fr 1fr ;
}

/* Universale*/
.gridI {
    margin: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr  ; 
    gap: 20px;
}


main div img {
    border-radius: 10px;
}

main div.card1 h3 {
    margin: 0;
    padding: 20px 20px 4px 20px;
    font-size: 20px;
    color: #211e1e;
}

main div.card1  {
    font-size: 10px;
    line-height: 1.5; 
}
div.se{
    list-style: none;
}
